/********* SpotLight Animes ********/

@keyframes spotlightPosterAnimation {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes spotlightTitleAnimation {
  0% {
    transform: translateX(5rem);
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes spotlightDescriptionAnimation {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

.Slider-Container {
  height: 100vh;
  width: 99vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  cursor:pointer;
  
  & > i {
    border: none;
    color: white;
  }
}
.Animes-Container {
  height: 100%;
  width: 94rem;
}

.Slide-Images {
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(9, 94rem);
  transition: all 0.4s ease-out;
  transform: translateX(var(--changeCover, 0rem));
}

.SpotlightAnime-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: end;
  position: relative;
  background-color: rgb(0, 0, 0);
  padding: 0 0 0 5rem;
}

.Cover {
  height: 100%;
  width: 90%;
  position: absolute;
  right: 1rem;
  top: 0;
}

.Cover > img {
  height: 100%;
  width: 100%;
  z-index: 1;
  
  object-fit: cover;
}

.CoverDark {
  height: 100%;
  width: 100%;
  position: absolute;
  background:
    linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(68, 68, 68, 0) 90%),
    linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(68, 68, 68, 0) 65%),
    linear-gradient(270deg, rgb(0, 0, 0) 0%, rgba(68, 68, 68, 0) 10%),
    linear-gradient(180deg, rgb(21, 20, 20) 0%, rgba(68, 68, 68, 0) 45%);
}

#Cover {
  background-color: rgb(225, 226, 227);
  font-size: 0.65rem;
  font-weight: 800;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  padding: 0.1rem 0.2rem;
  animation: spotlightTitleAnimation 0.4s ease-out;
}

.CoverNextBtn {
  height: 95%;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  font-size: 1.7rem;
  right: 0rem;
  transition: 0.5s ease-out;
  background: linear-gradient(270deg, rgb(0, 0, 0) 0%, rgba(68, 68, 68, 0) 55%);
  &:hover {
    cursor: pointer;
    transition: 0.5s ease-out;
    background: linear-gradient(
      270deg,
      rgb(0, 0, 0) 0%,
      rgba(68, 68, 68, 0) 75%
    );
  }
}
.CoverPrevBtn {
  height: 95%;
  width: 5rem;
  position: absolute;
  z-index: 1;
  left: 0rem;
  font-size: 1.7rem;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(68, 68, 68, 0) 55%);
  transition: 0.5s ease-out;
  &:hover {
    cursor: pointer;
    transition: 0.5s ease-out;
    background: linear-gradient(
      90deg,
      rgb(0, 0, 0) 0%,
      rgba(68, 68, 68, 0) 75%
    );
  }
}

.Cover-Info {
  height: 40%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: start;
  text-align: start;
  gap: 1rem;
  z-index: 2;
  position: relative;
  bottom:6rem
}

.Cover-Info > p {
  font-size: 2vmin;
  color: rgb(199, 197, 197);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  animation: spotlightDescriptionAnimation 0.4s ease-out;
}

.Cover-Info > span {
  color: rgb(250, 247, 247);
  text-shadow: 0px 0px 10px rgb(6, 6, 6);
}

.Title {
  text-align: center;
  width: 100%;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  position: relative;
  flex-wrap: nowrap;
}

#ep-info {
  position: relative;

}


#Cover {
  background-color:white;
  font-size: 0.7rem;
  font-weight: 800;
  color: black;
  border-radius: 4px;
  padding: 0.1rem 0.4rem;
  animation: spotlightTitleAnimation 0.4s ease-out;
}


.SpotlightWatch-btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.6rem 01rem;
  border-radius: 0.85rem;
  color: black;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--ElementColor);
  transition: 0.2s ease-out;

  &:hover {
    background-color: rgb(20, 213, 210);
  }
}



.Title > #ep-info > figcaption {
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
  color: rgb(228, 228, 228);
  text-shadow: 0px 0px 4px rgb(183, 183, 183);
  animation: spotlightTitleAnimation 0.4s ease-out;
}

.Title > #Coverimg-src {
  height: 18rem;
  width: 12rem;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px black;
  cursor: pointer;
  border: 1px solid white;
  animation: spotlightPosterAnimation 0.4s ease-out;
}
